# Introduction

Do higher film budgets lead to more box office revenue? Let's find out if there's a relationship using the movie budgets and financial performance data that I've scraped from [the-numbers.com](https://www.the-numbers.com/movie/budgets) on **May 1st, 2018**.

<img src=https://i.imgur.com/kq7hrEh.png>

# Import Statements

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Notebook Presentation

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

# Read the Data

In [ ]:
df_data = pd.read_csv('cost_revenue_dirty.csv')

# Explore and Clean the Data

**Challenge**: Answer these questions about the dataset:
1. How many rows and columns does the dataset contain?
2. Are there any NaN values present?
3. Are there any duplicate rows?
4. What are the data types of the columns?

In [ ]:
print(df_data.shape)
print(df_data.isna().sum())
print(df_data.duplicated().sum())
print(df_data.dtypes)

(5391, 6)
Rank                     0
Release_Date             0
Movie_Title              0
USD_Production_Budget    0
USD_Worldwide_Gross      0
USD_Domestic_Gross       0
dtype: int64
0
Rank                      int64
Release_Date             object
Movie_Title              object
USD_Production_Budget    object
USD_Worldwide_Gross      object
USD_Domestic_Gross       object
dtype: object

In [ ]:
df_data.sample(5)

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
1519,3948,10/27/2000,A Room for Romeo Brass,"$5,250,000","$20,097","$20,097"
4454,5263,8/23/2013,Sparrows Dance,"$175,000","$2,602","$2,602"
81,4016,1/1/1959,Solomon and Sheba,"$5,000,000","$11,000,000","$11,000,000"
1918,180,11/22/2002,Die Another Day,"$142,000,000","$431,942,139","$160,942,139"
646,4051,9/21/1992,Light Sleeper,"$5,000,000","$1,050,861","$1,050,861"

### Data Type Conversions

**Challenge**: Convert the `USD_Production_Budget`, `USD_Worldwide_Gross`, and `USD_Domestic_Gross` columns to a numeric format by removing `$` signs and `,`.
<br>
<br>
Note that *domestic* in this context refers to the United States.

In [ ]:
# df1['Avg_Annual'] = df1['Avg_Annual'].str.replace(',', '')
# df1['Avg_Annual'] = df1['Avg_Annual'].str.replace('$', '')
# df1['Avg_Annual'] = df1['Avg_Annual'].astype(int)

df_data['USD_Production_Budget'] = df_data['USD_Production_Budget'].str.replace('$','')
df_data['USD_Production_Budget'] = df_data['USD_Production_Budget'].str.replace(',','')
df_data['USD_Production_Budget'] = pd.to_numeric(df_data['USD_Production_Budget'])
df_data.head()

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
0,5293,8/2/1915,The Birth of a Nation,110000,"$11,000,000","$10,000,000"
1,5140,5/9/1916,Intolerance,385907,$0,$0
2,5230,12/24/1916,"20,000 Leagues Under the Sea",200000,"$8,000,000","$8,000,000"
3,5299,9/17/1920,Over the Hill to the Poorhouse,100000,"$3,000,000","$3,000,000"
4,5222,1/1/1925,The Big Parade,245000,"$22,000,000","$11,000,000"

In [ ]:
df_data['USD_Worldwide_Gross'] = df_data['USD_Worldwide_Gross'].str.replace('$','')
df_data['USD_Worldwide_Gross'] = df_data['USD_Worldwide_Gross'].str.replace(',','')
df_data['USD_Worldwide_Gross']

0       11000000
1              0
2        8000000
3        3000000
4       22000000
          ...
5386           0
5387           0
5388           0
5389           0
5390           0
Name: USD_Worldwide_Gross, Length: 5391, dtype: object

In [ ]:
df_data['USD_Domestic_Gross'] = df_data['USD_Domestic_Gross'].str.replace('$','')
df_data['USD_Domestic_Gross'] = df_data['USD_Domestic_Gross'].str.replace(',','')

**Challenge**: Convert the `Release_Date` column to a Pandas Datetime type.

In [ ]:
df_data['USD_Worldwide_Gross'] = pd.to_numeric(df_data['USD_Worldwide_Gross'])
df_data['Release_Date'] = pd.to_datetime(df_data['Release_Date'])

In [ ]:
df_data['USD_Domestic_Gross'] = pd.to_numeric(df_data['USD_Domestic_Gross'])
print(df_data.dtypes)

Rank                              int64
Release_Date             datetime64[ns]
Movie_Title                      object
USD_Production_Budget             int64
USD_Worldwide_Gross               int64
USD_Domestic_Gross                int64
dtype: object

In [ ]:
df_data.USD_Domestic_Gross = pd.to_numeric(df_data.USD_Domestic_Gross)
df_data.dtypes

Rank                              int64
Release_Date             datetime64[ns]
Movie_Title                      object
USD_Production_Budget             int64
USD_Worldwide_Gross               int64
USD_Domestic_Gross                int64
dtype: object

In [ ]:
df_data.sample()
print(df_data.info())
print(df_data.memory_usage())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5391 entries, 0 to 5390
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   5391 non-null   int64
 1   Release_Date           5391 non-null   datetime64[ns]
 2   Movie_Title            5391 non-null   object
 3   USD_Production_Budget  5391 non-null   int64
 4   USD_Worldwide_Gross    5391 non-null   int64
 5   USD_Domestic_Gross     5391 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 252.8+ KB
None
Index                      132
Rank                     43128
Release_Date             43128
Movie_Title              43128
USD_Production_Budget    43128
USD_Worldwide_Gross      43128
USD_Domestic_Gross       43128
dtype: int64

### Descriptive Statistics

**Challenge**:

1. What is the average production budget of the films in the data set?
2. What is the average worldwide gross revenue of films?
3. What were the minimums for worldwide and domestic revenue?
4. Are the bottom 25% of films actually profitable or do they lose money?
5. What are the highest production budget and highest worldwide gross revenue of any film?
6. How much revenue did the lowest and highest budget films make?

In [ ]:
df_data.USD_Production_Budget.mean()

31113737.57837136

In [ ]:
df_data.describe()

,Rank,Release_Date,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
count,"5,391.00",5391,"5,391.00","5,391.00","5,391.00"
mean,"2,696.00",2003-09-19 15:02:02.203672704,"31,113,737.58","88,855,421.96","41,235,519.44"
min,1.00,1915-08-02 00:00:00,"1,100.00",0.00,0.00
25%,"1,348.50",1999-12-02 12:00:00,"5,000,000.00","3,865,206.00","1,330,901.50"
50%,"2,696.00",2006-06-23 00:00:00,"17,000,000.00","27,450,453.00","17,192,205.00"
75%,"4,043.50",2011-11-23 00:00:00,"40,000,000.00","96,454,455.00","52,343,687.00"
max,"5,391.00",2020-12-31 00:00:00,"425,000,000.00","2,783,918,982.00","936,662,225.00"
std,"1,556.39",NaN,"40,523,796.88","168,457,757.00","66,029,346.27"

In [ ]:
df_data.head()
df_data.USD_Production_Budget.describe()

count         5,391.00
mean     31,113,737.58
std      40,523,796.88
min           1,100.00
25%       5,000,000.00
50%      17,000,000.00
75%      40,000,000.00
max     425,000,000.00
Name: USD_Production_Budget, dtype: float64

In [ ]:
print(df_data.USD_Worldwide_Gross.describe())
df_data[df_data['USD_Worldwide_Gross'] == 2783918982]

count           5,391.00
mean       88,855,421.96
std       168,457,757.00
min                 0.00
25%         3,865,206.00
50%        27,450,453.00
75%        96,454,455.00
max     2,783,918,982.00
Name: USD_Worldwide_Gross, dtype: float64

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross
3529,1,2009-12-18,Avatar,425000000,2783918982,760507625

In [ ]:
df_data.sort_values(by=['USD_Domestic_Gross','USD_Worldwide_Gross','USD_Production_Budget']).head(25)
df_data.USD_Domestic_Gross.min()
df_data.USD_Worldwide_Gross.min()

0

# Investigating the Zero Revenue Films

**Challenge** How many films grossed $0 domestically (i.e., in the United States)? What were the highest budget films that grossed nothing?

In [ ]:
df_data[df_data['USD_Domestic_Gross'] == 0].sort_values(by='USD_Production_Budget',ascending=False)

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross,revenue,margin
5388,96,2020-12-31,Singularity,175000000,0,0,0,-175000000
5387,126,2018-12-18,Aquaman,160000000,0,0,0,-160000000
5384,321,2018-09-03,A Wrinkle in Time,103000000,0,0,0,-103000000
5385,366,2018-10-08,Amusement Park,100000000,0,0,0,-100000000
5090,556,2015-12-31,"Don Gato, el inicio de la pandilla",80000000,4547660,0,4547660,-75452340
...,...,...,...,...,...,...,...,...
4787,5371,2014-12-31,Stories of Our Lives,15000,0,0,0,-15000
3056,5374,2007-12-31,Tin Can Man,12000,0,0,0,-12000
4907,5381,2015-05-19,Family Motocross,10000,0,0,0,-10000
5006,5389,2015-09-29,Signed Sealed Delivered,5000,0,0,0,-5000
5007,5390,2015-09-29,A Plague So Pleasant,1400,0,0,0,-1400

In [ ]:
df_data[df_data['USD_Worldwide_Gross'] == 0].sort_values(by='USD_Production_Budget',ascending=True).head(10)

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross,revenue,margin
5007,5390,2015-09-29,A Plague So Pleasant,1400,0,0,0,-1400
5006,5389,2015-09-29,Signed Sealed Delivered,5000,0,0,0,-5000
4907,5381,2015-05-19,Family Motocross,10000,0,0,0,-10000
3056,5374,2007-12-31,Tin Can Man,12000,0,0,0,-12000
4787,5371,2014-12-31,Stories of Our Lives,15000,0,0,0,-15000
4046,5368,2011-11-25,The Ridges,17300,0,0,0,-17300
2156,5365,2003-12-31,Flywheel,20000,0,0,0,-20000
4364,5366,2013-04-01,All Superheroes Must Die,20000,0,0,0,-20000
4885,5367,2015-04-21,The Front Man,20000,0,0,0,-20000
4786,5364,2014-12-31,Dry Spell,22000,0,0,0,-22000

In [ ]:
df_data['revenue'] = df_data.USD_Domestic_Gross + df_data.USD_Worldwide_Gross
df_data.sort_values(by='revenue',ascending=False)

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross,revenue
3529,1,2009-12-18,Avatar,425000000,2783918982,760507625,3544426607
5079,2,2015-12-18,Star Wars Ep. VII: The Force Awakens,306000000,2058662225,936662225,2995324450
1034,37,1997-12-19,Titanic,200000000,2207615668,658672302,2866287970
5077,28,2015-12-06,Jurassic World,215000000,1671640593,652198010,2323838603
4131,22,2012-04-05,The Avengers,225000000,1519479547,623279547,2142759094
...,...,...,...,...,...,...,...
4778,5106,2014-12-31,The Sound and the Shadow,500000,0,0,0
4779,5119,2014-12-31,Rise Of the Entrepreneur - The Search For A Be...,450000,0,0,0
4780,5138,2014-12-31,Pancakes,400000,0,0,0
4781,5215,2014-12-31,Horse Camp,250000,0,0,0
5390,2517,2020-12-31,"Story of Bonnie and Clyde, The",20000000,0,0,0

In [ ]:
df_data['margin'] = df_data.revenue - df_data.USD_Production_Budget
df_data.head()

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross,revenue,margin
0,5293,1915-08-02,The Birth of a Nation,110000,11000000,10000000,21000000,20890000
1,5140,1916-05-09,Intolerance,385907,0,0,0,-385907
2,5230,1916-12-24,"20,000 Leagues Under the Sea",200000,8000000,8000000,16000000,15800000
3,5299,1920-09-17,Over the Hill to the Poorhouse,100000,3000000,3000000,6000000,5900000
4,5222,1925-01-01,The Big Parade,245000,22000000,11000000,33000000,32755000

**Challenge**: How many films grossed $0 worldwide? What are the highest budget films that had no revenue internationally?

In [ ]:
df_data.sort_values(by='margin',ascending=False)[70:100]

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross,revenue,margin
4192,371,2012-07-13,Ice Age: Continental Drift,95000000,879765137,161321843,1041086980,946086980
3680,689,2010-06-30,The Twilight Saga: Eclipse,68000000,706102828,300531751,1006634579,938634579
4539,97,2014-01-08,Guardians of the Galaxy,170000000,771100771,333172112,1104272883,934272883
3513,1001,2009-11-20,The Twilight Saga: New Moon,50000000,687557727,296623634,984181361,934181361
1257,1276,1999-06-08,The Sixth Sense,40000000,672806292,293506292,966312584,926312584
3148,68,2008-05-22,Indiana Jones and the Kingdom of the Crystal S...,185000000,786558145,317023851,1103581996,918581996
2204,212,2004-04-06,Harry Potter and the Prisoner of Azkaban,130000000,796688549,249538952,1046227501,916227501
5186,85,2016-05-08,Suicide Squad,175000000,746100054,325100054,1071200108,896200108
2856,133,2007-02-07,Transformers,151000000,708272592,319246193,1027518785,876518785
2029,139,2003-05-15,The Matrix Reloaded,150000000,738576929,281553689,1020130618,870130618
4392,119,2013-05-24,Fast and Furious 6,160000000,789300444,238679850,1027980294,867980294
2672,236,2006-05-19,The Da Vinci Code,125000000,767820459,217536138,985356597,860356597
4365,282,2013-04-10,Gravity,110000000,695941797,274092705,970034502,860034502
5274,74,2016-11-18,Fantastic Beasts and Where to Find Them,180000000,803798342,234037575,1037835917,857835917
1810,274,2002-05-16,Star Wars Ep. II: Attack of the Clones,115000000,656695615,310676740,967372355,852372355
3385,86,2009-05-29,Up,175000000,731542621,293004164,1024546785,849546785
359,1657,1983-05-25,Star Wars Ep. VI: Return of the Jedi,32500000,572705079,309205079,881910158,849410158
4038,227,2011-11-18,"The Twilight Saga: Breaking Dawn, Part 1",127500000,689420051,281287133,970707184,843207184
4759,882,2014-12-25,American Sniper,58000000,547326372,350126372,897452744,839452744
2494,72,2005-09-12,"The Chronicles of Narnia: The Lion, the Witch ...",180000000,720539572,291710957,1012250529,832250529
3655,107,2010-05-21,Shrek Forever After,165000000,756244673,238736787,994981460,829981460
5297,574,2016-12-21,Sing,75000000,627886287,270329045,898215332,823215332
4604,73,2014-05-30,Maleficent,180000000,758536735,241407328,999944063,819944063
4201,172,2012-08-06,Madagascar 3: Europe's Most Wanted,145000000,746921271,216391482,963312753,818312753
2085,234,2003-09-07,Pirates of the Caribbean: The Curse of the Bla...,125000000,634954103,305411224,940365327,815365327
4406,46,2013-06-21,Monsters University,200000000,743588329,268488329,1012076658,812076658
4586,99,2014-04-04,Captain America: The Winter Soldier,170000000,714401889,259746958,974148847,804148847
275,2196,1980-05-21,Star Wars Ep. V: The Empire Strikes Back,23000000,534171960,290271960,824443920,801443920
4113,26,2012-03-07,The Amazing Spider-Man,220000000,757890267,262030663,1019920930,799920930
4821,311,2015-02-10,The Martian,108000000,663851905,228433663,892285568,784285568

In [ ]:
df_data.sort_values(by='Rank', ascending=True)[100:]

,Rank,Release_Date,Movie_Title,USD_Production_Budget,USD_Worldwide_Gross,USD_Domestic_Gross,revenue,margin
2306,101,2004-10-11,The Polar Express,170000000,319090241,194949659,514039900,344039900
4073,102,2012-01-06,Snow White and the Huntsman,170000000,401021746,155136755,556158501,386158501
1956,103,2003-01-07,Terminator 3: Rise of the Machines,170000000,433058296,150358296,583416592,413416592
2252,104,2004-07-05,Van Helsing,170000000,300150546,120150546,420301092,250301092
4908,105,2015-05-22,Tomorrowland,170000000,207283457,93436322,300719779,130719779
...,...,...,...,...,...,...,...,...
1209,5387,1999-02-04,Following,6000,240495,48482,288977,282977
2462,5388,2005-07-13,Return to the Land of Wonders,5000,1338,1338,2676,-2324
5006,5389,2015-09-29,Signed Sealed Delivered,5000,0,0,0,-5000
5007,5390,2015-09-29,A Plague So Pleasant,1400,0,0,0,-1400
2427,5391,2005-05-08,My Date With Drew,1100,181041,181041,362082,360982

### Filtering on Multiple Conditions

**Challenge**: Use the [`.query()` function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) to accomplish the same thing. Create a subset for international releases that had some worldwide gross revenue, but made zero revenue in the United States.

Hint: This time you'll have to use the `and` keyword.

### Unreleased Films

**Challenge**:
* Identify which films were not released yet as of the time of data collection (May 1st, 2018).
* How many films are included in the dataset that have not yet had a chance to be screened in the box office?
* Create another DataFrame called data_clean that does not include these films.

In [ ]:
# Date of Data Collection
scrape_date = pd.Timestamp('2018-5-1')

### Films that Lost Money

**Challenge**:
What is the percentage of films where the production costs exceeded the worldwide gross revenue?

# Seaborn for Data Viz: Bubble Charts

### Plotting Movie Releases over Time

**Challenge**: Try to create the following Bubble Chart:

<img src=https://i.imgur.com/8fUn9T6.png>

# Converting Years to Decades Trick

**Challenge**: Create a column in `data_clean` that has the decade of the release.

<img src=https://i.imgur.com/0VEfagw.png width=650>

Here's how:
1. Create a [`DatetimeIndex` object](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html) from the Release_Date column.
2. Grab all the years from the `DatetimeIndex` object using the `.year` property.
<img src=https://i.imgur.com/5m06Ach.png width=650>
3. Use floor division `//` to convert the year data to the decades of the films.
4. Add the decades as a `Decade` column to the `data_clean` DataFrame.

### Separate the "old" (before 1969) and "New" (1970s onwards) Films

**Challenge**: Create two new DataFrames: `old_films` and `new_films`
* `old_films` should include all the films before 1969 (up to and including 1969)
* `new_films` should include all the films from 1970 onwards
* How many films were released prior to 1970?
* What was the most expensive film made prior to 1970?

# Seaborn Regression Plots

**Challenge**: Use Seaborn's `.regplot()` to show the scatter plot and linear regression line against the `new_films`.
<br>
<br>
Style the chart

* Put the chart on a `'darkgrid'`.
* Set limits on the axes so that they don't show negative values.
* Label the axes on the plot "Revenue in \$ billions" and "Budget in \$ millions".
* Provide HEX colour codes for the plot and the regression line. Make the dots dark blue (#2f4b7c) and the line orange (#ff7c43).

Interpret the chart

* Do our data points for the new films align better or worse with the linear regression than for our older films?
* Roughly how much would a film with a budget of $150 million make according to the regression line?

# Run Your Own Regression with scikit-learn

$$ REV \hat ENUE = \theta _0 + \theta _1 BUDGET$$

**Challenge**: Run a linear regression for the `old_films`. Calculate the intercept, slope and r-squared. How much of the variance in movie revenue does the linear model explain in this case?

# Use Your Model to Make a Prediction

We just estimated the slope and intercept! Remember that our Linear Model has the following form:

$$ REV \hat ENUE = \theta _0 + \theta _1 BUDGET$$

**Challenge**:  How much global revenue does our model estimate for a film with a budget of $350 million?